{{cprTrace "START MIGRATION MIGRATION-PROGRESS.HBS"}}
<ol class="dialog-list flexcol">
  <li class="dialog-item dialog-item-header text-semi text-center flexrow">
    <div>
      {{localize "CPR.migration.app.progressTitle"}}
      <span class="total-docs"></span>
    </div>
  </li>
  {{#each progress as |progressBar|}}
    <li class="dialog-item">
      {{> "systems/cyberpunk-red-core/templates/progress-bar.hbs" progressBar}}
    </li>
  {{/each}}
</ol>
{{cprTrace "END MIGRATION-PROGRESS.HBS"}}
